// Place all the styles related to the word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'open-sans';
  src: url(font-path('Open_Sans/OpenSans-Light.ttf')) format('truetype');
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'open-sans';
}

div#analysis {
  height: 100%;
  background-color: #ADEAEA;
  text-align: center;
}

div#analysisblock {
  padding-top: 10%;
  margin-bottom:50px;
}

// div#config {
//   background-color: #9CBA7F;
//   height: 20%;
//   text-align: center
// }

#analysislabel {
  font-size: 40px;
  margin-bottom: 100px;
}

input[type="text"] {
  height:30px;
  width: 400px;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #CCC;
}

div.alert {
  margin-top:10px;
  font-size: 20px;
}
